<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&amp;display=swap" rel="stylesheet">
    <title>PokémonAPI</title>
</head>

<body>
    <h1>Pokédex do Teteuzi</h1>
    <section>
        <form action="/" method="post">
            <input id="entra" type="text" placeholder="Digite o nome do pokémon!">
            <input type="button" value="Buscar">
        </form>
    </section>
    <section id="container"></section>
    <footer>
        <h3>Desenvolvido por <strong>Matheus Sales</strong></h3>
    </footer>
    <script src="/public/javascripts/poke.js"></script>
</body>

</html>