doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Varela+Round&display=swap' rel='stylesheet')
    title PokémonAPI
  body
    h1 Pokédex do Teteuzi
    section
      input#entra(type='text' placeholder='Digite o nome do pokémon!')
      input(type='button' value='Buscar' onclick='buscar()')
    section#container
    footer
      h3
        | Desenvolvido por 
        strong Matheus Sales
    script(src='javascripts/poke.js')